body{
	background-color: #FFFFFF;
}
h1{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #1A2E8C;
}
.div1{
	font-family: Tahoma, Verdana, sans-serif;
	color: #0F1221;
}
.div2{
	font-size: large;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #101F62;
}
.div3{
	font-family: Tahoma, Verdana, sans-serif;
	color: #0F1221;
}
.div4{
	font-size: large;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #101F62;
}
.div5{
	font-family: Tahoma, Verdana, sans-serif;
	color: #0F1221;
}
.div6{
	font-size: large;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #101F62;
}
.div7{
	font-family: Tahoma, Verdana, sans-serif;
	color: #0F1221;
}
.div8{
	font-size: large;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #101F62;
}
.div9{
	font-family: Tahoma, Verdana, sans-serif;
	color: #0F1221;
}	
.div10{
	font-size: large;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #101F62;
}
.div11{
	font-family: Tahoma, Verdana, sans-serif;
	color: #0F1221;
}
.div12{
	font-size: large;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #101F62;
}
.div13{
	font-family: Tahoma, Verdana, sans-serif;
	color: #0F1221;
}
.div14{
	font-size: large;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #101F62;
}
.div15{
	font-family: Tahoma, Verdana, sans-serif;
	color: #0F1221;
}
.div16{
	font-size: large;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #101F62;
}
.div17{
	font-family: Tahoma, Verdana, sans-serif;
	color: #0F1221;
}
.div18{
	font-size: large;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #101F62;
}
.div19{
	font-family: Tahoma, Verdana, sans-serif;
	color: #0F1221;
}
.div20{
	font-size: large;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #101F62;
}
.div21{
	font-family: Tahoma, Verdana, sans-serif;
	color: #0F1221;
}
.div22{
	font-size: x-small;
	font-family: Tahoma, Verdana, sans-serif;
	color: #5E5F62;
}
.div23{
	font-size: small;
	font-family: Tahoma, Verdana, sans-serif;
	color: #0F1221;
}
span{
	font-size: small;
	color: #71727F;
}
.div24{
	font-size: large;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #101F62;
}
}
.div25{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #101F62;
}
.div26{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #0B16A1;
}